*{
    box-sizing: border-box;
}
:root{
    --font-family:'Quicksand', sans-serif;
    --color-menu-hover:#ACD9B2;
    --color-text:rgb(153, 152, 152);
    --background-order-total:rgb(240, 240, 240);
    --color-list-signup:#ACD9B2;
}
body{
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    font-size: 62.5%;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--background-order-total);
}
.container-primary,.container-secondary{
    display: flex;
}
.container-primary{
    padding: 0 0 0 40px;
}
.container-secondary{
    margin-right: 40px;
}
.menu-icon{
    display: none;
}
.yard-logo{
    width: 120px;
}
.menu{
    display: flex;
    margin-left: 28px;
}
.menu-list{
    display: flex;
    justify-content: center;
    padding: 0;
}
.menu-list__item{
    list-style: none;
    padding: 8px 12px;
    color: var(--color-text);
    border-radius: 50px;
    font-size: 0.8rem;
}
.menu-list__item:hover{
    border: 1px solid var(--color-menu-hover);
    color: var(--color-menu-hover);
}
.account{
    display: flex;
    margin: 0 16px;
    align-items: center;
}
.account__text{
    font-size: 0.8rem;
}
.account__arrow{
    position: relative;
    top: 1px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 8px;
    filter: invert(83%) sepia(1%) saturate(6605%) hue-rotate(75deg) brightness(116%) contrast(67%);
    cursor: pointer;
}
.icon-shop{
    width: 32px;
}
/*MENU NAV CSS*/
.menu-nav-container{
    position: absolute;
    right: 87px;
    display: grid;
    place-content: center;
}
.hidden{
    display: none;
}
.menu-nav-body{
    width: 160px;
    border: 1px solid var(--color-text);
    padding: 0 16px;
}
.menu-nav-list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 8px 0;
}
.menu-nav-list__item{
    font-size: 1.2rem;
    list-style: none;
    margin: 12px 0;
    width: 100%;
    text-align: end;
}
.menu-nav-list__item:not(:last-child){
    font-weight: 700;
}
.menu-nav-list__item:last-child{
    color: var(--color-link);
    padding: 20px 0 0;
    border-top: 1px solid var(--color-text);
}
.menu-nav-list__item a{
    text-decoration: none;
}
.menu-nav-list__item:not(:last-child) a{
    color: var(--color-list-option);
}
.menu-nav-list__item:last-child a{
    color: var(--color-list-signup);
}

@media (max-width:820px){
    .menu-icon{
        display: inline-block;
    }
    .menu,.account{
        display: none;
    }
    .container-nav{
        padding: 10px 20px;
    }
    .container-primary,.container-secondary{
        margin: 0;
        padding: 0;
    }
}
@media (max-width:890px){
    .yard-logo{
        width: 92px;
    }
    .icon-shop{
        width: 24px;
    }
}